body {
    min-height: 729px;
    font-family: Inter;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-container{
    min-height: 285px;
    width: 550px;
    background-color:rgba(105, 67, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

h1 {
    margin: 0px 0px;
}

input {
    width: 117px;
    height: 83px;
    background-color:rgba(105, 67, 255, 1);
    box-sizing: border-box;
    border: 2px solid rgba(178, 149, 255, 1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 58px;
    font-weight: 800;
    line-height: 24.39px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 0px;
    }

button {
 
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    }

.lower-container{
    min-height: 444px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.unit-container {
    width: 500px;
    height: 108.57px;
    background-color: #FFFFFF;
    border-radius: 4.68px 0px 0px 0px;
    color: #5A537B;
    font-weight: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unit-container h3 {
    margin: 25px 0px 0px 0px;

}

.output-box{
    color: rgba(53, 53, 53, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}